---
apiVersion: backstage.io/v1alpha1
kind: Component
metadata:
  name: {{ .Repo }}
  description: "TODO: Add a description of this service"
  annotations:
    backstage.io/source-location: url:https://github.com/{{ .Owner }}/{{ .Repo }}
    jira/project-key: "TODO"
    jira/label: "{{ .Repo }}"
  tags: []
spec:
  lifecycle: production
  type: service
  owner: "TODO: Add the owning team or individual"
  system: "TODO: Add the system this belongs to"
