---
apiVersion: backstage.io/v1alpha1
kind: Component
metadata:
  name: REPO_NAME
  description: "TODO: Add a description of this service"
  annotations:
    backstage.io/source-location: url:https://github.com/ORG_NAME/REPO_NAME
    jira/project-key: "TODO"
    jira/label: "REPO_NAME"
  tags: []
spec:
  lifecycle: production
  type: service
  owner: "TODO: Add the owning team or individual"
  system: "TODO: Add the system this belongs to"
